# the local www folder is where we'll install WordPress, no need
# to have that in git
/www

# vagrant state
.vagrant

# dev stuff
localsettings.json
/build
/node_modules

# if we use composer, we should ignore vendor
/vendor



